/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
/* 
/* #jeopardy {
  text-align: center;
  font-size: 9pt;
  background-color: #060ce9;
  color: white;
  width: 1000px;
height:1000px;
border-color: black;
} */

#headers{
  border: 1px solid black;

} 


